:root {
  --bg: white;
  --background-color: #f2f2f2;
  --on-hover: #e6e6e6;
  --border-large: 24px;
  --border-mid: 12px;
  --border-small: 4px;
  --padding-large: 24px;
  --padding-mid: 12px;
  --padding-small: 4px;
  --margin-mid: 12px;
  --margin-large: 24px;
  --document: #283dff;
  --document-text: #0010a8;
  --folder: #28aa3d;
  --folder-text: #104318;
  --close: #c44;
  --submit: #3b3;
  --incorrect: #c445;
  --correct: #3b35;
  --progress-beginning: #373;
  --progress-end: #3b3;
  --scrim: brightness(75%);
}

.dark {
  --bg: #234;
  --background-color: #414b57;
  --on-hover: #5c6b7c;
  --document: #8e99ff;
  --document-text: #8e99ff;
  --folder: #28aa3d;
  --folder-text: #28aa3d;
  --close: #d76c6c;
  --submit: #3b3;
  --incorrect: #c445;
  --correct: #3b35;
  --progress-beginning: #373;
  --progress-end: #3b3;
  --scrim: brightness(75%);
}

.hide {
  display: none;
}

.show {
  display: block;
}

#content {
  padding: var(--padding-large);
  border-radius: var(--border-large);
  background-color: var(--background-color);
}

#review-card {
  margin-top: var(--margin-mid);
  padding: var(--padding-large);
  border-radius: var(--border-large);
}

.correct {
  background-color: var(--correct);
}

.incorrect {
  background-color: var(--incorrect);
}

.score {
  display: inline-block;
  color: white;
  height: 100px;
  width: 75px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  margin: var(--margin-mid);
  border-radius: var(--border-large);
}

#vfs-score,
#editor-score {
  position: fixed;
  display: block;
  bottom: var(--margin-large);
  right: var(--margin-large);
}

#queue-review-old-score {
  margin-left: calc(100% - 150px - 50px);
}

pre {
  white-space: pre-wrap;
}

input[type=number] {
  max-width: 100px;
}

input[type=checkbox] {
  max-width: 50px;
}

#progress-bar {
  background: linear-gradient(to right, var(--progress-beginning) 0%, var(--progress-end) 100%);
  height: 4px;
  border-radius: 2px;
}

#flashcard {
  padding: var(--padding-large);
}

#queue-props {
  margin: var(--margin-large);
  margin-top: 0px;
}

#flashcard input {
  width: 50%;
}

#flashcard input,
#queue-props input {
  background: var(--bg);
}

#queue-ribbon {
  margin: var(--margin-large);
  margin-top: calc(2 * var(--margin-large));
}

.inputs {
  margin-bottom: var(--margin-mid);
}

.grammar {
  max-height: 350px;
  overflow: auto;
  margin-top: var(--margin-mid);
  border-radius: var(--border-mid);
  border: 3px var(--folder) solid;
  padding: var(--padding-mid);
}

.row {
  margin-top: var(--margin-mid);
  margin-bottom: var(--margin-mid);
}

.card {
  border-radius: var(--border-small);
  padding: var(--padding-small);
  height: 50px;
  line-height: 50px;
}

.card.expanded {
  height: fit-content;
  background-color: var(--on-hover);
}

#card-text {
  display: inline-block;
  font-size: 22px;
  white-space: nowrap;
  min-width: 100px;
  max-width: calc(100% - 300px);
  overflow-x: hidden;
}

#card-text:hover {
  cursor: pointer;
  color: var(--document);
}

.details {
  width: calc(95% - 2 * var(--padding-mid));
  margin-left: 2.5%;
  border-radius: var(--border-large);
  border: 3px var(--document) solid;
  padding: var(--padding-mid);
}

.details.show {
  display: inline-block;
}

.details.hide {
  display: none;
}

.phrases {
  width: calc(95% - 2 * var(--padding-mid));
  margin-left: 2.5%;
}

.phrase {
  background-color: var(--bg);
  border-radius: var(--border-mid);
  padding: var(--padding-mid);
  margin-bottom: var(--margin-mid);
}

.phrase-header {
  font-size: 22px;
}

.inputs-phrases .inputs {
  padding: var(--padding-mid);
  border-radius: var(--border-mid);
  border: 3px var(--document) solid;
  margin-bottom: var(--margin-mid);
}

.item {
  border-radius: var(--border-small);
  padding: var(--padding-small);
  height: 41px;
  line-height: 41px;
}

.item span {
  display: inline-block;
  min-width: 100px;
}

.item:hover,
.card:hover {
  background-color: var(--on-hover);
}

.item span:hover {
  font-weight: bold;
}

.edit,
.delete {
  background-color: inherit;
  float: right;
  height: 35px;
  margin-top: 3px;
  line-height: 35px;
  padding-top: 0px;
}

.card .edit,
.card .delete {
  max-width: 150px;
  height: 40px;
  margin-top: 5px;
  line-height: 40px;
  padding-top: 0px;
}

.edit:hover {
  background-color: var(--document);
  color: var(--bg);
}

.delete:hover {
  background-color: var(--close);
  color: var(--bg);
}

.document {
  color: var(--document);
}

#create-doc {
  color: var(--document-text);
}

.folder {
  color: var(--folder);
}

.folder span:hover {
  cursor: pointer;
}

#create-folder {
  color: var(--folder-text);
}

#editor-popup {
  width: calc(95% - 2 * var(--padding-mid));
  max-width: none;
}

#editor-popup input {
  width: 75%;
}

#editor-popup .row {
  margin-top: var(--margin-large);
}

.popup {
  background-color: var(--bg);
  margin: var(--margin-mid);
  margin-left: 0px;
  padding: var(--padding-mid);
  padding-left: var(--padding-large);
  border-radius: var(--border-mid);
  max-width: 350px;
}

.popup h2 {
  margin-top: 0px;
}

.popup input {
  margin-bottom: var(--margin-mid);
}

.close {
  background-color: var(--close);
  color: var(--bg);
}

.close:hover {
  background-color: var(--close);
  filter: var(--scrim);
  font-weight: bold;
}

.submit {
  background-color: var(--submit);
  color: var(--bg);
}

.submit:hover {
  background-color: var(--submit);
  filter: var(--scrim);
  font-weight: bold;
}
