:root {
  --background-color: #f2f2f2;
  --on-hover: #e6e6e6;
  --border-large: 24px;
  --border-mid: 12px;
  --border-small: 4px;
  --padding-large: 24px;
  --padding-mid: 12px;
  --padding-small: 4px;
  --margin-mid: 12px;
  --document: #283dff;
  --document-text: #0010a8;
  --folder: #28aa3d;
  --folder-text: #104318;
  --close: #c44;
  --submit: #3b3;
  --scrim: brightness(75%);
}

.hide {
  display: none;
}

.show {
  display: inline;
  display: block;
}

#content {
  padding: var(--padding-large);
  border-radius: var(--border-large);
  background-color: var(--background-color);
}

.row {
  margin-top: var(--margin-mid);
  margin-bottom: var(--margin-mid);
}

.card {
  border-radius: var(--border-small);
  padding: var(--padding-small);
  height: 50px;
  line-height: 50px;
}

.card.expanded {
  height: fit-content;
  background-color: var(--on-hover);
}

.card span {
  display: inline-block;
  font-size: 22px;
  white-space: nowrap;
  max-width: calc(100% - 300px);
  overflow-x: hidden;
}

.details {
  width: calc(95% - 2 * var(--padding-mid));
  margin-left: 2.5%;
  border-radius: var(--border-large);
  border: 3px var(--document) solid;
  padding: var(--padding-mid);
}

.details.show {
  display: inline-block;
}

.details.hide {
  display: none;
}

.phrases {
  width: calc(95% - 2 * var(--padding-mid));
  margin-left: 2.5%;
}

.phrase {
  background-color: white;
  border-radius: var(--border-mid);
  padding: var(--padding-mid);
  margin-bottom: var(--margin-mid);
}

.phrase-header {
  font-size: 22px;
}

.item {
  border-radius: var(--border-small);
  padding: var(--padding-small);
  height: 41px;
  line-height: 41px;
}

.item span {
  display: inline-block;
  min-width: 100px;
}

.item:hover,
.card:hover {
  background-color: var(--on-hover);
}

.item span:hover {
  font-weight: bold;
}

.edit,
.delete {
  background-color: inherit;
  float: right;
  height: 35px;
  margin-top: 3px;
  line-height: 35px;
  padding-top: 0px;
}

.card .edit,
.card .delete {
  max-width: 150px;
  height: 40px;
  margin-top: 5px;
  line-height: 40px;
  padding-top: 0px;
}

.edit:hover {
  background-color: var(--document);
  color: white;
}

.delete:hover {
  background-color: var(--close);
  color: white;
}

.document {
  color: var(--document);
}

#create-doc {
  color: var(--document);
}

.folder {
  color: var(--folder);
}

.folder span:hover {
  cursor: pointer;
}

#create-folder {
  color: var(--folder-text);
}

.popup {
  background: white;
  margin: var(--margin-mid);
  margin-left: 0px;
  padding: var(--padding-mid);
  padding-left: var(--padding-large);
  border-radius: var(--border-mid);
  max-width: 350px;
}

.popup h2 {
  margin-top: 0px;
}

.popup input {
  margin-bottom: var(--margin-mid);
}

.close {
  background-color: var(--close);
  color: white;
}

.close:hover {
  background-color: var(--close);
  filter: var(--scrim);
  font-weight: bold;
}

.submit {
  background-color: var(--submit);
  color: white;
}

.submit:hover {
  background-color: var(--submit);
  filter: var(--scrim);
  font-weight: bold;
}
